{%load staticfiles%}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<title>CMG | DJANGO</title>
</head>
<body>
	<div class="modal" id="ordermodal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">주문서</h5>
	        <button type="button" class="close" onclick="hide(ordermodal)">
	        <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="listPart"></div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" id="submitmodal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">주문서를 확인해주세요</h5>
	      </div>
	      <div class="modal-body" id="listAll"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" onclick="doOrder()">주문하기</button>
	        <button type="button" class="btn btn-secondary" onclick="hide(submitmodal)">돌아가기</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="selector">
		<img src="https://www.ruka.fi/sites/default/files/styles/header_image_style/public/subwaylogo_valkpohja_840x340_0.jpg?itok=0g_KFFb8"></img>
	</div>
	<form>
	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-12 col-sm-9">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu" id="menu_tab"> 메뉴 </a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bread" id="bread_tab">빵 선택</a></li>
					<li class="nav-item"><a class="nav-link" href="#vegetable" id="vegetable_tab">야채 선택</a></li>
					<li class="nav-item"><a class="nav-link" href="#source" id="source_tab">소스 선택</a></li>
				</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade show active" id="menu"></div>
						<div class="tab-pane fade" id="bread"></div>
						<div class="tab-pane fade" id="vegetable"></div>
						<div class="tab-pane fade" id="source"></div>
					</div>
			</div>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
				<div class="list-group" id="order"></div><br><br>
				<div class="list-group">
					<input type="button" class="btn btn-warning btn-lg" onclick="add()" value="주문 추가"/><br>
					<input type="button" class="btn btn-primary btn-lg" onclick="sub()" value="주문 하기"/>
				</div>
			</div>
			<!--/.sidebar-offcanvas-->
		</div>
		<!--/row-->
	</div>
	</form>
</body>
<script src="/static/jquery-3.4.1.js"></script>
<script src="/static/tab.js"></script>
</html>